**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/out
**/node_modules
**/dist
**/.env
**/.env.local
**/.env.production
**/store.db
**/store.db-shm
**/store.db-wal
README.md
LICENSE
.editorconfig
